.backer{
    margin-top:0px;
    margin-left:0px;
}

.back{
    width: 70px;
    height: 70px;    
}
.logo{
    display:block;
    margin-left: auto;
    margin-right: auto;    
    width: 70px ;
    height: 70px;    
}
.logo-title{
    text-align:center;
    border-bottom: 5px solid black;
    padding-bottom:20px;
    margin-bottom: 100px;
}
.live-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-left:50px;
    padding-right:50px;
}
p{
    font-weight:bold;
    line-height:1.3;
}
.live-details-container{    
    width: 400px;
    height: 400px;
    padding-left:10px;
    
}
.images{
    width: 400px;
    height: 250px;
}
